.vscode/**
.vscode-test/**
src/**
out-test/**
node_modules/**
.gitignore
.github/**
esbuild.js
tsconfig*.json
**/*.map
**/*.ts
tools/**
examples/**
.api-env/**
out/**
.vscode-test/**
.vscode-test.mjs
